<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
</head>

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{localhost:8080}">Финки Пост</a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/sender}">Sender</a></li>
            <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/postman}">Postman</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/register}">Register</a></li>
            <li sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/login}">Login</a></li>
            <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/update}">Update Password</a></li>
            <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>
</body>
</html>